/* Navbar */
.navbar{
    padding: 10px 0;
    background-color: #ffffff !important; 
}
nav .login-btn{
    background-color: aliceblue;
    border: 0;
    border-radius: 5px;
    background-color: #07468D;

    padding: 10px 15px;
    font-size: 19px;
    color: whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
nav .login-btn:hover{
    background-color: #0360bc;

}
nav .nav-link{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #07468D;
    
    
}
nav .nav-link:hover{
    /* text-decoration: underline; */
    color: #0574e4;

}
nav .links {
    transition: background-color 0.4s ease-in-out;

    padding:5px 10px ;
}
nav .links:hover{
    background-color: rgb(222, 240, 255);
    border-radius: 10px;

}
/* hero */
#hero{
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(./../public/images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment:scroll; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero h1{
    color: #ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;

}
#hero .hero-txt-container{
    /* From https://css.glass */
background: rgba(17, 0, 0, 0.5);
border-radius: 15px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.1px);
-webkit-backdrop-filter: blur(7.1px);
width: 80%;

}
/* offers */

#offers h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #0a6bfc;
    
}
#offers p{
    line-height: 2;
    color: rgba(33, 119, 249, 0.705)

}

#offers .col-12:hover{
    background-color: rgb(217, 237, 255);
}
#offers .col-12:hover p{
    color: rgb(33, 119, 249)

}
/* about */
#about{
    position: relative;
z-index: 1;
    min-height: 100vh;
    background-color: #07468D;
    /* background-color: #0360bc; */

}
#about h1{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 350;
}
#about .display-3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550; 
}
#about h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
color: whitesmoke;
line-height: 1.3;
}
#about p{
    line-height: 2;

    color: rgba(245, 245, 245, 0.784);

}
#about .col-md-7:hover p{
    color: aliceblue;
}

#about svg{
    position: absolute;
    bottom: 0;
    opacity: 0.5;z-index: -1;
}
/* service */
#services{
    position: relative;
    z-index: 1;
        min-height: 100vh;
background-color: #c61e3f;
}
#services h1{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 350;
}
#services .display-3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550; 
}
#services h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
color: whitesmoke;
line-height: 1.3;
}
#services p{
    line-height: 2;

    color: rgba(245, 245, 245, 0.784);

}
#services .col-md-7:hover p{
    color: aliceblue;
}

#services svg{
    position: absolute;
    bottom: 0;
    opacity: 0.5;z-index: -1;
}
#services svg{
    position: absolute;
    top: 0;
    opacity: 0.5;z-index: -1;
}

#services .cards .bi{
    font-size: 30px;
    color: #0a6bfc;
}
#services .cards p{
    /* color: #ffffffce; */
    /* color: #d52145; */
    color: rgb(70, 70, 70);
    /* text-align:start; */

}

#services .cards .col-12:hover{
    background-color: #e2e2e2;

}
#services .cards .col-12{
    padding:4%;
    /* margin: 1px; */
    
    /* background-color: #F92D55; */
    background-color: white;
}
#services .cards h4{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
color: #0a6bfc;
}
