/* Navbar */
.navbar {
  padding: 10px 0;
  background-color: #ffffff !important;
}
nav .login-btn {
  background-color: aliceblue;
  border: 0;
  border-radius: 5px;
  background-color: #07468d;

  padding: 10px 15px;
  font-size: 19px;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav .login-btn:hover {
  background-color: #0360bc;
}
nav .nav-link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: #07468d;
}
nav .nav-link:hover {
  /* text-decoration: underline; */
  color: #0574e4;
}
nav .links {
  transition: background-color 0.4s ease-in-out;

  padding: 5px 10px;
}
nav .links:hover {
  background-color: rgb(222, 240, 255);
  border-radius: 10px;
}
/* hero */
#hero {
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(./../public/images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment:scroll; */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero h1 {
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 550;
}
#hero .hero-txt-container {
  /* From https://css.glass */
  background: rgba(17, 0, 0, 0.5);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  width: 80%;
}
/* offers */

#offers h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0a6bfc;
}
#offers p {
  line-height: 2;
  color: rgba(33, 119, 249, 0.705);
}

#offers .col-12:hover {
  background-color: rgb(217, 237, 255);
}
#offers .col-12:hover p {
  color: rgb(33, 119, 249);
}
/* about */
#about {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  background-color: #07468d;
  /* background-color: #0574e4; */
}
#about h1 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 350;
}
#about .display-3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 550;
}
#about h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  line-height: 1.3;
}
#about p {
  line-height: 2;

  color: rgba(245, 245, 245, 0.784);
}
#about .col-md-7:hover p {
  color: aliceblue;
}

#about svg {
  position: absolute;
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
}
/* service */
#services {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  background-color: #c61e3f;
}
#services h1 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 350;
}
#services .display-3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 550;
}
#services h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  line-height: 1.3;
}
#services p {
  line-height: 2;

  color: rgba(245, 245, 245, 0.784);
}
#services .col-md-7:hover p {
  color: aliceblue;
}

#services svg {
  position: absolute;
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
}
#services svg {
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: -1;
}

#services .cards .bi {
  font-size: 30px;
  color: #0a6bfc;
}
#services .cards p {
  /* color: #ffffffce; */
  /* color: #d52145; */
  color: rgb(70, 70, 70);
  /* text-align:start; */
}

#services .cards .col-12:hover {
  background-color: #e2e2e2;
}
#services .cards .col-12 {
  padding: 4%;
  /* margin: 1px; */

  /* background-color: #F92D55; */
  background-color: white;
}
#services .cards h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0a6bfc;
}
/* Achievememts */
#Achievements {
  text-align: center;

  /* background-color: #0574e4; */
  /* background-color: #ffffff; */
  background-image: -webkit-linear-gradient(70deg, #ffffff 50%, #c61e3f 50%);
}
#Achievements i {
  font-size: 50px;
  color: #ffffff;
}
#Achievements h1 {
  font-weight: 550;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #eeeeee;
}
#Achievements p {
  color: #eeeeee;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
#Achievements .achi-txt {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 350;
}
#Achievements .col-12 {
  padding: 5% 0;
  /* background-color:#07468D; */
  background-color: #07468d;
}
#Achievements .col-12:hover {
  background-color: #0055aa;
}
@media (max-width: 768px) {
  #Achievements {
    background-image: none;
    background-color: #006adc;
  }
}
#loan-soln {
    background-color: #ffffff;
}
#loan-soln h1{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 550;
    color: #e02248;
}
#loan-soln button, #reviews button ,#vm .vm-btn{
    padding: 10px 17px;
    border-radius: 50px;
    border: 0;
    background-color: rgb(255, 255, 255);
    color:#0a6bfc;
    border: 1px solid #0a6bfc;
    
}
#loan-soln i{
    font-size: 30px;
    color: #ed1f48;

}
#loan-soln button:hover , #reviews  button:hover, #vm .vm-btn:hover{
    background-color:#0a6bfc ;
    color: white;

}
#loan-soln .col-6:hover{
    background-color: #f0f0f0;
}
#loan-soln .col-6{
    padding: 10px;
}
/*  */
#process{
    background-color: #045eb9;
}
#process .display-2{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 550;
    color: #ffffff;
    text-align: center;
}
#process h4{
    color: #ececec;
}
  
  .main-timeline {
    font-family: sans-serif;
    position: relative;
  }
  
  .main-timeline:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .main-timeline .timeline {
    width: 50%;
    margin: 0 0 20px 20px;
    float: right;
  }
  
  .main-timeline .timeline-content {
    color: #000;
    background: #fff;
    text-align: center;
    min-height: 125px;
    padding: 30px 20px 30px 45px;
    border-radius: 15px;
    border: 2px solid #000;
    display: block;
    position: relative;
    text-decoration: none;

  }
  
 
  
  .main-timeline .timeline-icon {
    color: #fff;
    background-color: #ff4f00;
    font-size: 37px;
    line-height: 65px;
    height: 75px;
    width: 75px;
    border: 6px solid #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: -38px;
    top: 50%;
  }
  
  .main-timeline .timeline-icon:before,
  .main-timeline .timeline-icon:after {
    content: "";
    background-color: #000;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -12px;
  }
  
  .main-timeline .timeline-icon:after {
    top: calc(100% + 6px);
  }
  
  .main-timeline .title {
    color: #ff4f00;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 5px;
  }
  
  .main-timeline .description {
    font-size: 1rem;
    color: #777;
    margin: 0;
  }
  
  .main-timeline .timeline:nth-child(even) {
    float: left;
    margin: 0 20px 20px 0;
  }
  
  .main-timeline .timeline:nth-child(even) .timeline-content {
    padding: 30px 45px 30px 20px;
  }
  
  .main-timeline .timeline:nth-child(even) .timeline-icon {
    right: -39px;
    left: auto;
  }
  
  .main-timeline .timeline:nth-child(4n + 2) .timeline-icon {
    background-color: #953fbe;
  }
  .main-timeline .timeline:nth-child(4n + 2) .title {
    color: #953fbe;
  }
  
  .main-timeline .timeline:nth-child(4n + 3) .timeline-icon {
    background-color: #00b29c;
  }
  .main-timeline .timeline:nth-child(4n + 3) .title {
    color: #00b29c;
  }
  
  .main-timeline .timeline:nth-child(4n + 4) .timeline-icon {
    background-color: #02affe;
  }
  .main-timeline .timeline:nth-child(4n + 4) .title {
    color: #02affe;
  }
  
  @media screen and (max-width: 767px) {
    .main-timeline .timeline {
      width: 100%;
      padding-top: 40px;
    }
  
    .main-timeline .timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content {
      padding: 45px 20px 20px;
    }
  
    .main-timeline .timeline .timeline-icon,
    .main-timeline .timeline:nth-child(even) .timeline-icon {
      font-size: 28px;
      left: 50%;
      top: -39px;
      right: auto;
      transform: translateY(0) translateX(-50%);
    }
  
    .main-timeline .timeline .timeline-icon:before,
    .main-timeline .timeline .timeline-icon:after {
      top: 50%;
      left: -12px;
      transform: translateY(-50%) translateX(0);
    }
  
    .main-timeline .timeline .timeline-icon:after {
      left: calc(100% + 6px);
    }
  }
  
  @media screen and (max-width: 576px) {
    .main-timeline .title {
      font-size: 18px;
    }
  }
  /* clients */

  #reviews h2{
    font-weight: 550;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #036ad0;
  }
  /*  */
 #contact .heading-txt{
    color: #000000;
    font-weight: 550;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 }
 #contact h2{
  font-weight: 550;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #036ad0;

 }
 /* partners */
 #partners{
 
 background-color: #e1e1e1;
 }
 #partners .row{
  padding:3% 10%;
 }
 #partners {
  padding-top: 5%;
 }
 #partners .text-center{
  font-weight: 550;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #036ad0;
 }
 @media screen and (max-width: 576px) {
  #partners .row{
    padding: 10% 3%;
  }
}
#vm i{
  font-size: 22px;
  margin-right: 10px;
  color: #0a6bfc;
 
}
#vm .text-center {
  font-weight: 550;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e02248;

}
/*  */
#footer .btn{
  background-color: #000000;
}
#footer .btn i{
  color: white ;

}